
body {
  background-color: rgb(227, 241, 241);
}
.bg-dark h3{
    /* padding: 30px 0; */
    text-align: center;
    text-transform: uppercase;
    font-variant: 'inherit';
    font-style: italic;
    font-family: 'Bellaboo';
    color: #898AA6;
    text-shadow: 4px 9px 0px rgba(201, 187, 207, 0.7);
    font-size: 35px;
}
.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.floatL {
    float: left;
}
.floatR {
    float: right;
}
.boxstyle{
    padding: 30px;
    border-radius: 25px;
    border-top: 6px solid #898AA6;
    border-bottom: 6px solid #80c8c2;
    margin-top: 20px;
}